[class] {
    border-radius: 5px;
}

header {
    text-align: center;
    color: #4CAF50;
}

footer {
    text-align: right
}

nav {
    font-size: 12px;
    background-color: #4CAF50;
    width: 20%;
    padding: 1%;
    color: white;
}

aside {
    font-size: 10px;
    background-color: #4CAF50;
    width: 20%;
    padding: 1%;
    color: white;
    text-align: right;
}

article {
    text-align: left;
    font-size: 15px;
    padding: 2%;
}

section {
    font-size: 14px;
    width: 60%;
    margin-right: 10px;
    margin-left: 10px;
}

header[class="principal_header"] {
    font-size: 46px;
    background-color: #D0D0D0;
}

header[class="article_header"] {
    font-size: 20px;
    background-color: #DfDfDf;
}

footer[class="principal_footer"] {
    font-size: 1rem;
    background-color: #D0D0D0;
}

footer[class="article_footer"] {
    font-size: 10px;
    background-color: #DfDfDf
}

div[class^="con"] {
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
}
