button {
    width: 30px;
    height: auto;
    margin: 2px;
    font-size: 15px;
    font-weight: bold;
    font-family: sans-serif;
}

.container {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    margin-top: 50px;
}

.input {
    font-size: 15px;
    margin-bottom: 5px;
    margin-top: 5px;
}

#operation {
    width: 200px;
}

#result {
    color: red;
    font-size: large;
}

#error {
    color: red;
}