section {
    width: 100%;
    text-align: center;
    color: #4CAF50;
    font-size: 30px;
    border-radius: 20px;
    background-color: #D0D0D0;
}

#button{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#hidden_section {
    visibility: hidden;
}

@-webkit-keyframes fadeIn {
    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

.fade-in {
    -webkit-animation: fadeIn .5s ease-in 1 forwards;
    animation: fadeIn .5s ease-in 1 forwards;
    opacity: 0;
}

.is-paused {
    -webkit-animation-play-state: paused;
    animation-play-state: paused;
}

.error {
    color: #ff0000;
    background-color: #0c0c0c;
}

.rigth {
    width: 30%;
    float: right;
    background: cornflowerblue;
}

table {
    border-collapse: collapse;
}

table, td, th {
    border: 1px solid black;
    padding: 1rem;
}